<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css">
        <style>
            
            
            .box:hover {
                border: 2px solid rgb(207, 207, 207);
               
                transition: all 0.3s ease-in-out;
            }
              
        </style>
    
</head>

<body class="bg-gray-900">
    <!-- header -->
<header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">DermaAssist</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a href="{{url_for('profile')}}" class="mr-5 hover:text-white">Profile</a>
        <a class="mr-5 hover:text-white">Second Link</a>
        <a class="mr-5 hover:text-white">Third Link</a>
        <a class="mr-5 hover:text-white">Fourth Link</a>
      </nav>
      <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Button
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>
  </header>

  <!-- grid -->
  <section class="text-gray-400 body-font bg-gray-900">
    <div class="container px-3 py-18 mx-auto">
      <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Welcome to DermaAssist</h1>
        <p class="lg:w-1/2 w-full leading-relaxed text-opacity-80">Hello Pathologist.</p>
      </div>

      <section class="text-gray-400 body-font bg-gray-900">
        <div class="flex flex-wrap items-center justify-center">
            <div class="w-full md:w-1/2 p-4">
              <a href="{{url_for('doctor')}}" class="block box border border-gray-700 border-opacity-75 p-6 rounded-lg hover:box">
                <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-4">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                    <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                  </svg>
                </div>
                <h2 class="text-lg text-white font-medium title-font mb-2">Add a doctor</h2>
                <p class="leading-relaxed text-base">Click here to add a doctor.</p>
              </a>
            </div>
            <div class="w-full md:w-1/2 p-4">
              <a href="{{url_for('patient1')}}" class="block box border border-gray-700 border-opacity-75 p-6 rounded-lg hover:box">
                <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-4">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                    <circle cx="6" cy="6" r="3"></circle>
                    <circle cx="6" cy="18" r="3"></circle>
                    <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
                  </svg>
                </div>
                <h2 class="text-lg text-white font-medium title-font mb-2">Add a Patient</h2>
                <p class="leading-relaxed text-base">Click here to add a patient.</p>
              </a>
            </div>
    
            <div class="w-full md:w-1/2 p-4">
              <div class="relative">
                <a href="{{url_for('viewdoc')}}" class="block box border border-gray-700 border-opacity-75 p-6 rounded-lg hover:box">
                  <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-4">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                      <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                      <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                  </div>
                  <h2 class="text-lg text-white font-medium title-font mb-2">View Doctors</h2>
                  <p class="leading-relaxed text-base">Click here to view the list of doctors.</p>
                </a>
              </div>
            </div>
          </div>
          
        <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">IDK</button>




            
  </section>
</body>
</html>
                    
</body>
</html>

